/* __________________________________________________reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* __________________________________________________my styles */
:root{
font-family: 'Minion Pro', serif;
font-size: 12px;
}

a {
    text-decoration: none;
    color: black;
}

.width-container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

header {
    padding-top: 11px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 36px;
}

header img {
    display: block;
}

header ul {
    display: block;
}

header ul li {
    display: inline;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 18px;
    position: relative;
    top: 19px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

nav div {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase; 
    position: relative; 
    top: 14px;
    margin-left: 40px;
}

nav div::before {
    content: '';
    width: 28px;
    height: 28px;
    background-color: #aeaeae;
    position: absolute;
    right: 59px;
    bottom: 23px;
    border-radius: 50%;
}

nav div::after {
    content: '▾';
}

.breadcrumb {
    font-size: 18px;
    margin-bottom: 10px;
}

.main-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
aside {
    width: 20%;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

article {
    width: 79%;
    margin-bottom: 85px;
}

article img{
    width: 100%;
    margin-bottom: 54px;
}

h2 {
    font-style: 18px;
    font-weight: bold;
    margin-bottom: 25px;
}

article p {
    line-height: 1.333;
    margin-bottom: 25px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-logo {
width: 20%;
}
 
.footer-contacts{
display: flex;
flex-direction: row;
justify-content: space-around;
width: 70%;
}

.footer-contacts p{
    display: block;
    font-weight: bold;
    position: relative;
}

.footer-contacts p:nth-child(2)::before{
   content: 'tel:';
   position: absolute;
   right: 106px;
}